@font-face
{
font-family: myFirstFont;
src: url('FZJZJW.TTF');
}
body {
    background-color: green;
    text-align: center;
}

header {
    text-align: center;
    color: red;
    background-color: greenyellow;
    margin: auto;
    padding: auto;
    height: 50px;
    width: 1024px;
}

header a:link {
    color: red;
    text-decoration: none;


}
nav{
    margin: auto;
    padding: auto;
    width: 1024px;
    clear:left;
    background-color: greenyellow;
    height:auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

nav li {
    display: inline;
}
nav a:link{
    color: #000; 
    text-align: center;
    padding-left: 10px;  
    text-decoration: none;
    text-transform: capitalize;
}
article{
    margin: auto;
    padding: auto;
    width: 1024px;
    height:700px;
    background-color: #fff;
}
article p{
    font-family:"myFirstFont";
    font-size: 50px;
    text-decoration:underline;
}
article p a:link{
    font-family:"myFirstFont";
    font-size: 50px;
    margin: auto;
    padding: auto;
    color: #5e0606;
    text-decoration:none;
    font-style: italic;
    text-shadow: 10px 10px 10px black;
}
#about{
    float: right;
}